@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    margin: 0;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

#top{
    background-image: linear-gradient(orange, rgb(255, 200, 0));
    width: 100vw;
}

#container{
    font-family: Roboto;
    font-size: 1em;
    margin-left: 15px;
    display: flex;
}

#container2{
    display: flex;
    justify-content: space-between;
}

#gambar{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 0px;
    display: inline-block;
}

#title{
    margin-left: 15px;
    margin-top: 15px;
}

#control{
    margin-left: 15px;
}

#brand{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 40px;
}

#brandLink{
    color: white;
    text-decoration: none;
    text-decoration: white;
}

#brandLink:hover{
    color: grey;
    text-decoration-color: rgb(181, 181, 181);
}

#lyric{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.spacing{
    margin-bottom: 0px;
}
